:root {
  --bg-main: #224444;
  --bg-secondary: #226666;
  --bg-navigation: rgba(0, 0, 0, 0.5);

  --text-main: #11dddd;
  --text-secondary: #cccccc;

  --border-main: #11dddd;
  --border-secondary: #11dddd;

  /*** TAGS ***/
  --bg-tag-selected: #ff88bb;
  --bg-tag-unselected: #dd5599;
  --text-tag: #331122;
  --border-tag: #331122;
}

h2 {
  margin: 0;
}

button {
  color: var(--text-main);
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-secondary);
  border-radius: 1em;
}


/* This is found in the Navigation component */
div.main {
  position: relative;
  height: 100vh;
  max-width: 50em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-main);
  color: var(--text-main);
}

div.navigation {
  height: calc(100vh - 3em);
  width: 100%;
  position: absolute;
  top: 3em;
  z-index: 1000;
  background-color: var(--bg-navigation);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

div.data {
  height: calc(100vh - 3em);
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 3em;
}

div.show-navigation-container {
  height: 3em;
}

button.show-navigation-button {
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: var(--text-main);
}



/*** MAPS ***/
.map {
  width: 100%;
  height: 20em;
}


div.panel {
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-secondary);
  border-radius: 1em;
  text-align: left;
  margin: 1em;
  padding: .5em;
}



/*** TAGS ***/
.tag {
  color: var(--text-tag);
  border: 1px solid var(--border-tag);
  border-radius: 1em;
}
.tag-selected {
  background-color: var(--bg-tag-selected);
}

.tag-unselected {
  background-color: var(--bg-tag-unselected);
}



